.footer{
    background-color:  #2F343B;
    text-align: center;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}
.footcon{
    color: white;
    margin-top: 2.5%;
}
.footp{
    color: #abb3b0;
}